html{
	font-family: "Kiona";
	src: url("Kiona-Regular.tff");
}
body{
	margin: 0;
	background-color: black;
	color: white;
}

#navigation nav{
	padding: 20px;
	background-color: white;
	box-shadow: black 0px 0px 5px;
	opacity: 0.4;
	position: fixed;
	width: 100%;
	z-index: 1;
	text-align: center
}
#navigation nav a{
	margin-right: 10px;
	font-size: 20px;
	text-decoration: none;
	color: black;
	opacity: 1;
}

#title{
	text-align: center;
	padding: 20px;
	background-image: url("images/cover.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 100vh; 
	text-shadow: black 0px 0px 5px;
	position: relative;
}
#title-login{
	text-align: center;
	padding: 20px;
	background-image: url("images/login/cover.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 100vh; 
	text-shadow: black 0px 0px 5px;
	position: relative;
}
#title h1{
	position: absolute;
	font-weight: normal;
	font-size: 100px;
	color: white;
	opacity: 0.5;
	left: 0;
  	top: 30%;
  	width: 100%;
  	text-align: center;
}
#title h3{
	position: absolute;
	font-weight: normal;
	color: white;
	letter-spacing: 10px;
	opacity: 0.5;
	left: 0;
  	top: 50%;
  	width: 100%;
  	text-align: center;
}

#gallery #gal-title{
	padding: 10px;
	text-align: center;
	background-image: url(images/orbiter.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 75vh;
	text-shadow: black 0px 0px 5px;
}

#gallery #gal-title h1{
	padding-top: 200px;
	font-weight: normal;
	padding-left: 50px;
	padding-right: 50px;
}

#gallery #gal-title p{
	padding-left: 50px;
	padding-right: 50px;
}

#gallery #content .image{
	position: relative;
	z-index: 0;
	margin-bottom: -3px;
}

#gallery #content .image h3{
	font-weight: normal;
	padding: 5px;
	background-color: white;
	position: absolute;
	bottom: 8px;
	left: 16px;
	color: black;
	opacity: 0.6;
}

#footer{
	position: static;
	text-align: center;
	background-image: url(images/footer.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 20px;
}

#footer h3{
	font-weight: normal;
	font-size: 15px;
}

#footer #bot-navigation{
	text-align: center
}


#footer #bot-navigation nav{
	padding: 20px;
	text-shadow: white 0px 0px 5px;
	z-index: 1;

}

#footer #bot-navigation nav a{
	font-size: 20px;
	text-decoration: none;
	color: white;
}

.login{
	padding: 50px;
}



@media screen and (min-width: 800px){
	#gallery #content{
		display: grid;
		grid-template-columns: 50% 50%;
	}
	#gallery #content .image{
	}

	#gallery #gal-title{
		text-align: right;
		padding-right: 100px;
	}
}